<main>
  <p class="show_text">
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p class="show_text">
    <strong>Body:</strong>
    <%= @book.body %>
  </p>

  <%= link_to "Edit", edit_book_path(@book.id) %>
  <!--仕切り-->
  |
  <%= link_to "Back", books_path %>

</main>